CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET

PORT = 3001
CLIENT_URL=localhost:3001/
//MongoDB Atlas
MONGODB_KEY

//JWT
ACCESS_TOKEN_SECRET

//Email
RESEND_API_KEY

//ACCESS_LOG_DIR = "D:\code"

